* {
  margin: 0;
}
.header-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid black;
}

.week-task {
  display: flex;
  justify-content: space-around;
  margin-right: 5%;
}

.week-task div {
  margin-left: 5px;
}

div[class$="day"] {
  width: 25px;
  height: 25px;
  border: 1px solid black;
  /* background-color: red; */
}

.header-container > div {
  margin: 10px;
}

img[class$="image"] {
  width: 25px;
  height: 25px;
}

.color-container {
  display: flex;
  padding: 5px;
}

.header-button-container {
  display: flex;
}

.time-container {
  display: flex;
  justify-content: center;
  width: 50%;
  border: 1px solid black;
  margin-bottom: 5%;
}

.article-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px solid black;
  width: 70%;
  margin-top: 10%;
  height: auto;
  padding: 5%;
}

.todo-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

article {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.todo-container * {
  margin-bottom: 10px;
}

form {
  text-align: center;
  width: 100%;
}

input {
  height: 10%;
  width: 50%;
}

.hidden {
  display: none;
}

.todo-list {
  width: 100%;
}

li {
  display: flex;
  width: 100%;
  justify-content: center;
}

.li-container {
  display: flex;
  height: 5%;
  width: 80%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
}

.todo-text {
  width: 80%;
  text-align: center;
}

.li-button-container {
  display: flex;
  width: 20%;
  flex-direction: row;
  align-items: center;
}

.time-image {
  width: 10%;
  height: 10%;
}

.li-button-container button {
  width: 30%;
  height: 50%;
}

/* .delete-buttom {
  height: 50%;
} */

.success {
  background-color: green;
}

.fail {
  background-color: red;
}

.mid {
  background-color: yellow;
}

div[class~="hidden"] {
  display: none;
}
