.hidden {
  display: none;
}

img {
  width: 10px;
  height: 10px;
}

.dark {
  background-color: black;
}

.light {
  color: white;
}

.success {
  background-color: green;
}

.mid {
  background-color: yellow;
}

.fail {
  background-color: red;
}
