.hidden {
  display: none;
}

img {
  width: 10px;
  height: 10px;
}

.dark {
  background-color: black;
}

.light {
  color: white;
}

.success {
  background-color: green;
}

.mid {
  background-color: yellow;
}

.fail {
  background-color: red;
}

div[id$="day"] {
  width: 20px;
  height: 20px;
  border: 1px black solid;
  transition: all 2s;
}

.day-box {
  display: flex;
}

/* #seventh-day {
  background-color: green;
  transition: all 2s;
} */

.save {
  background-color: red;
}
